:host {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;

    button {
        width: 50px;
        height: 50px;
        cursor: pointer;
        outline: 0;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 16px;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:hover,
        &.active {
            color: black;
            background-color: white;
            border-color: #0a58ca;
        }

    }

    input[type="radio"] {
        display: none;

        &+label {
            border: 1px dashed transparent;
        }

        &:checked+label,
        &+label:hover {
            border: 1px dashed #000000;
        }
    }

    label {
        width: 100%;
        cursor: pointer;
        line-height: 50px;
        text-align: center;
    }
}